html {
    font-size: 16px !important;}
  

/*https://stackoverflow.com/questions/5196583/target-elements-with-multiple-classes-within-one-rule*/
     
 
       

  div.list-grid img, div.list-grid a, div.list-grid * {
     width: 100% !important;}     figure.grid-image {
   width: 100% !important;}
     
     figure.grid-image img{
       min-width: 400px !important; max-width: 600px !important;}
       
     
      
     .ProductItem-summary{
   display: none !important; }.product-price {display: none !important;}



/*.ProductItem-related-label{
 position: relative !important; top: 20% !important;}
*/

@media screen and (min-width: 600px) and (max-width:900px) {
  #article img{
    max-height: 500px !important;}
  #article{max-width: 700px !important; margin-left: 5% !important; margin-right: 5% !important; position: relative !important; top: -27% !important;font-size: 16px !important; line-height: 2;   transform: translateY(-170px) !important;}


  h2 {
    transform: translateX(15%);
  }
  
  #article img {
    max-width: 400px 400px !important; max-height: 400px !important;
  }
  
  h2.ProductItem-related-label, div.list-grid {position: relative; top: -180px;}
  
  }

  

  @media screen and (min-width: 901px) and (max-width:1200px) {
    #article img{
      width: 700px !important; 
     height: 300px !important;}
    #article {max-width: 800px; margin-left: 10% !important; margin-right: 15% !important; line-height: 2 !important; font-family: Roboto !important; font-size: 16px !important; position: relative !important; top: -25px !important; transform: translateY(-10%) !important;}
      h2{
        transform: translateX(10%) !important; min-width: 200px !important;
      }
      
        h2.ProductItem-related-label, div.list-grid {position: relative; top: -7%;}
    
    
    }

