#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

 
/*Custom code*/

nav ul{
  display: flex; 
  justify-content: space-between;
  max-width: 600px;
  transform: translateX(3rem);
}

h1{
  transform: translateX(-1rem);margin-bottom: 2rem;
}

img {
  max-height: 500px !important; min-width: 800px; transform: translateX(-.2rem) !important; margin-bottom: 7rem;
}

main {
max-width: 90% !important;
}

main p{
  text-align: left;
  transform: translateY(-6rem) translateX(1rem) !important; font-family:Arial, Helvetica, sans-serif; line-height: 1.5;
}

html {
  font-size: 16px !important;
}

table.Classes{
  max-width: 500px !important;
}

#Products{
margin-bottom: 8rem;
}
 

main div#Gallery{
  display: grid; grid-template-columns: .5fr .5fr;
position: r
elative; left: -5rem;}

main div#Gallery img{
  margin-left: -6rem; max-width: 300px !important;
  transform: scaleX(.5) !important; min-height: 400px !important; max-height: 400px;
}

main div#Gallery img.columnB{transform: translateX(-6rem)  scaleX(.5) translateY(-1.2rem) scaleY(.9) !important;}