./**/node_modules/*
./**/**/node_modules/*
/**/**/**/node_modules/*
./**/**/**/**/node_modules/*
./**/**/**/**/**/node_modules/*
./**/notes.txt
./**/**/notes.txt
./**/**/**/notes.txt
./**/**/**/**/note.txt
./**/**/**/**/**/notes.txt
./*sails*
./docs/node_js_apps/app_Mongoose_js
./docs