
/projects/backend_practice/**/node_modules/
/projects/backend_practice/**/node_modules/*.*
/projects/backend_practice/**/node_modules/**
/projects/backend_practice/**/node_modules/*
projects/backend_practice/**/node_modules/**/*.*
