<%- include("header") -%>


<h1>Hello!!</h1>
<h2>My favorite jobs</h2>
<form action="/" method="post" name="form">
<label for="name1">Name of job
    <input type="text" name="name1" minlength="1" maxlength="50"></label><br> 
    <label for="rating1">Ranking&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input style="margin-left: -6px;" type="text" name="rating1" minlength="1" maxlength="5"></label>
</label>
<br>

<h2>My favorite food</h2>
<label for="name2">Name of food
    <input type="text" name="name2" minlength="1" maxlength="50"></label><br> 
    <label for="rating2">Ranking&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input style="margin-left: 3px;" type="text" name="rating2" minlength="1" maxlength="5"></label>
</label>
<br>
<input type="submit" style="border: 3px solid black; background-color: lightblue;">
</form>

