<%- include("./partials/header") -%>

    <!DOCTYPE html>
    <html lang="en">
    <!--For some weird reason, the header is being funny. Weird.-->

    <head>
        <style>
            @import url('../css/style.css');
        </style>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>News</title>
    </head>

    <body>

        <h2>
            <%=title%>
        </h2>
        <%=content%>
            </p>
            <H3><a href="../../">Back to the homepage</a></H3>
    </body>

    </html>

    <%- include("./partials/footer") -%>