<%- include("./partials/header") -%>

    <body>
        <nav>
            <ul>
                <li><a href="./about">about</a></li>
                <li><a href="./contact">contact</a></li>
                <li><a href="./">Home page</a></li>
                <li><a href="./hidden">Hidden</a></li>
            </ul>
        </nav>

        <div class="form-group">
            <form action="/articles" method="post">
                <h1>Add entry to diary</h1>
                <label for="title">Entry title
                    <input type="text" class="form-control" name="title">
                </label><br>
                <label for="post">
                    Content
                    <textarea name="content" class="form-control" cols="30" rows="5"></textarea>
                </label>
        </div>
        <Input class="btn btn-primary" type="submit">
        </form>


        <section class="footer">
            <%- include("./partials/footer") -%>
        </section>
    </body>


    </html>