<%- include("./partials/header") -%>

    <!DOCTYPE html>
    <html lang="en">
    <!--For some weird reason, the header is being funny. Weird.-->

    <head>
        <style>
            @import url('../css/style.css');
        </style>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>News</title>
    </head>

    <body>
<!--Played around with this example on stack overflow https://stackoverflow.com/questions/49264980/how-do-you-do-a-for-loop-for-each-in-ejs-->

        <% for(var i = 0; i < 5; i++) {%>
            <h2><%= articles[i].title %></h2>
            <div><%= articles[i].content[i] %><br></div>
            <% } %>
            <a href="./home">Back to home</a>
            <h2>Want to see more posts?</h2>
    </body>

    </html>

    <%- include("./partials/footer") -%>