<%- include("./partials/header") -%>

<style>

</style>

<div class="form-group">
    <form action="/articles" method="post">
        <h2>Add entry to the database</h2>
        <label for="title">Entry title
            <input type="text" class="form-control" name="title">
        </label><br>
        <label for="content">
            Content
            <textarea name="content" class="form-control" cols="30" rows="5"></textarea>
        </label>
</div>
<Input class="btn btn-primary" type="submit">
</form>





