<%- include("./partials/header") -%>
 
    <body>
        <nav>
            <ul>
                <li><a href="./about">about</a></li>
                <li><a href="./contact">contact</a></li>
                <li><a href="./">Home page</a></li>
                <li><a href="./hidden">Hidden</a></li>
            </ul>
        </nav>

        <div class="form-group">
            <form method="PATCH" action="item/2">





                <h1>Add entry to budget</h1>
                <label for="date">Date of transaction
                    <input type="date" class="form-control" name="date">
                </label><br>

                <label for="transaction">
                    Transaction
                    <input type="text" name="transaction" class="form-control" />
                </label><br>

                <label for="company">
                Company
                    <input type="text" name="company" class="form-control" />
                </label><br>

                <label for="price">
      Price
                    <input type="number" name="price" class="form-control" />
                </label><br>


        </div>
        <input class="btn btn-primary" type="submit">
        </form>


        <section class="footer">
            <%- include("./partials/footer") -%>
        </section>

        <script>
            const form = document.querySelector('form');
            
            form.addEventListener('submit', e => {
              e.preventDefault();
         
            
              fetch(`/item/2`, { 
                method: 'PATCH',
                headers: {
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                  company: form.company.value,
                  transaction: form.transaction.value,
                  date: form.date.value, 
                  price: form.price.value
                })
              })
              .then(res => {
                // response handling  
              })
              .catch(error => console.error(error));
            });
            </script>
            
            

    </body>


    </html>