
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
#About_us{
    line-height: 1.5; 
    font-size: 16px; 
    font-family:'Times New Roman', Times, serif;

}
h1{
    font-size: 3rem;
    margin-bottom: 1rem;  
}

h2{
    font-size: 2rem; color: purple;
}
h3{
    font-size: 1.75rem; color: blue;
}

p{
    font-weight: normal;
}
.current{
    color: red;
}
.btn{
    border-radius: 25px; 
    color:aqua;
    background-color: white;
}


.cube {
    position: absolute; width: 80px; height: 80px; background-color: pink; transform: rotate(-25deg) skew(25deg);
}

.cube:after{
position: absolute; content: ""; width: 100%; height: 21px; background-color: rgb(214, 23, 23); 
transform: skewX(-45deg); left: -10px; bottom: -20px;

}

.cube::before{
   position: absolute; content: "";width: 21px; height: 80px; background-color: blue; transform: skewY(-45deg); 
left: -15px; bottom: -10px;}
footer{
    display: flex; 
    justify-content: center; 
    padding: 100px 30px; 
    background-color: rgb(39, 39, 39); 
}


}

 